$c_bg: #F7F8F2
$c_blue: #0184CD
$c_blue_2: #023373
$c_red: #FC635B
$c_white: #fff

$w_full: 1140px

$m_center: 0 auto

$f_sans: 'Open Sans', sans-serif
$f_source: 'Source Sans Pro',sans-serif

body
  background-color: $c_bg
  font-family: $f_sans
  font-size: 1em
  font-weight: 300
  line-height: 1.25

p
  margin-bottom: 1em

a
  color: $c_blue
  text-decoration: none
  &:hover
    text-decoration: underline

div.wrapper
  max-width: $w_full
  margin: $m_center
  padding-left: 1.5%
  padding-right: 1.5%

header
  margin: 50px auto 25px auto

img.portrait
  float: right
  width: 250px
  height: 250px
  border-radius: 125px
  -webkit-border-radius: 125px
  -moz-border-radius: 125px

h1
  color: $c_red
  font-family: $f_source
  font-weight: 100
  font-size: 5em
  margin-bottom: 0px

h2
  font-size: 1.5em
  background-color: $c_blue
  color: $c_white
  font-weight: 100
  padding: 5px 15px
  margin-bottom: 0.5em

h3
  font-size: 1.25em
  color: $c_blue_2
  font-weight: 600

h4
  font-weight: bold
  font-size: 1.1em

.icon
  color: $c_blue_2
  font-size: 3em
  display: block
  i
    margin-right: 0.5em

.icon2
  color: $c_white
  background-color: $c_blue
  font-size: 3em
  display: inline-block
  padding: 0.25em
  margin: 0.25em
  a
    text-decoration: none
    color: inherit
  i
    margin-right: 0.5em

